﻿
<div id="map">

</div>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9Yi0U0f8GCBH9lmnoF4fhz6fnvPu2VJ8&callback=initMap"
        async defer></script>